In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
invoices = pd.read_csv('invoices.csv').sort_values(['created_at'], ascending=1).set_index('invoice_id')
customers = pd.read_csv('customers.csv').set_index('customer_id')
data = invoices.merge(customers, left_on='customer_id', right_index=True, how='left', suffixes=['', '_cust'])

In [7]:
for col in ['created_at', 'due', 'last_payment_date', 'created_at_cust']:
    data[col] = pd.to_datetime(data[col], errors='coerce')

data['days_creat_due'] = (data['created_at'] - data['due']).astype('timedelta64[D]')
data['days_last_due'] = (data['last_payment_date'] - data['due']).astype('timedelta64[D]')

In [9]:
data

,customer_id,created_at,due,last_payment_date,paid_status,total,paid,tax,currency,exchange_rate,source_system,description,created_at_cust,score,days_creat_due,days_last_due
invoice_id,,,,,,,,,,,,,,,,
3012275,1857589,2016-01-04 10:14:02,2016-01-04,2016-01-21,PAID,399.00,399.00,0.0,USD,1.0,FTP,PDP Tier III - Premier Listing,2017-11-09 15:20:25,90,0.0,17.0
2998157,1857442,2016-01-06 08:02:41,2016-01-06,2016-01-06,PAID,-1255.18,-1255.18,NaN,USD,1.0,FTP,Adjustmnet,2017-11-09 15:20:25,0,0.0,0.0
2998720,1857442,2016-01-06 08:05:02,2016-01-06,2016-01-06,PAID,-627.60,-627.60,NaN,USD,1.0,FTP,Credit,2017-11-09 15:20:25,0,0.0,0.0
3001291,1857442,2016-01-06 08:24:03,2016-01-06,2016-01-06,PAID,-1255.18,-1255.18,NaN,USD,1.0,FTP,Nov Credit,2017-11-09 15:20:25,0,0.0,0.0
3074918,1857442,2016-01-06 08:24:54,2016-01-06,2016-01-06,PAID,-1255.18,-1255.18,NaN,USD,1.0,FTP,Dec Credit,2017-11-09 15:20:25,0,0.0,0.0